li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  font-family: Arial, Helvetica, sans-serif;
}

/*ADDED A CLASS FOR EATEN BURGERS*/
.eaten { 
  background: #9fb879;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
