<li class= 
{{#if devoured}}
  "eaten"
  {{/if}}
  >
	
	{{burger_name}}

	{{#unless devoured}}
	<button class="change-status" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
		Eat Me !
	</button>
	{{/unless}}

	<button class="delete-burger" data-id="{{this.id}}">Delete Me !</button>
</li>